.link {
  height: rem(50px);
  width: rem(50px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  overflow: hidden;
  text-decoration: none;

  @media (max-width: $mantine-breakpoint-sm) {
    width: 100%;
  }

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }
}

.link-active {
  &,
  &:hover {
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-light-color);
  }
}

.wrapper {
  position: relative;
  z-index: 4;
  padding-left: calc(var(--mantine-spacing-xl) * 2);
  padding-right: calc(var(--mantine-spacing-xl) * 2);

  @mixin light {
    background-color: var(--mantine-color-gray-0);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-8);
  }
}

.header {
  padding-top: var(--mantine-spacing-xl);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: calc(var(--mantine-spacing-xl) * 1.5);

  &[data-with-tabs] {
    padding-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  }
}

.title {
  font-size: rem(44px);
  margin-bottom: rem(5px);
  font-weight: 900;
  font-family: var(--docs-font-primary);

  @mixin light {
    color: var(--mantine-color-black);
  }

  @mixin dark {
    color: var(--mantine-color-white);
  }
}

.description {
  max-width: rem(450px);
  margin-bottom: var(--mantine-spacing-xl);
  font-size: var(--mantine-font-size-lg);
  
  @mixin light {
    color: var(--mantine-color-gray-6);
  }

  @mixin dark {
    color: var(--mantine-color-dark-1);
  }
}